<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.sharesdk.demo">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission
        android:name="android.permission.INTERNET" />
    <!--读取外部存储需要-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:name">

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="douyin.callback.action" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.SharePlatformTypeActivity" />
        <activity android:name=".activitys.ShowUserInfoActivity" />
        <activity android:name=".ui.SdkTagsMainActivity" />
        <activity android:name=".ui.TagsItemActivity" />
        <activity android:name=".ui.TagsItemInfoActivity" />
        <activity android:name=".ui.AnnouncementActivity" />
        <activity android:name=".ShareMobLinkActivity"></activity>

        <activity android:name=".utils.PrivacyDialog"
            android:theme="@style/dialogstyle"/>

        <activity android:name="cn.sharesdk.PassWordShow"
            android:theme="@style/dialogstyle"/>

        <activity android:name=".ui.VideoPassWordShow"
            android:theme="@style/dialogstyle"/>


        <activity android:name=".ui.LoadingActivity"
            android:theme="@style/dialogstyle"/>


        <!-- ========================   snapchat ============================= -->
        <meta-data
            android:name="com.snapchat.kit.sdk.scopes"
            android:resource="@array/snap_connect_scopes" />
        <meta-data
            android:name="com.snapchat.kit.sdk.clientId"
            android:value="d8f03743-ce0c-433b-a49b-50b4fb0dbd55" />
        <meta-data
            android:name="com.snapchat.kit.sdk.redirectUrl"
            android:value="mob://sharesdk/demo" />
        <meta-data
            android:name="com.snapchat.kit.sdk.scopes"
            android:resource="@array/snap_connect_scopes" />

        <activity
            android:exported="true"
            android:name="com.snapchat.kit.sdk.SnapKitActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sharesdk"
                    android:path="/demo"
                    android:scheme="mob" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--        打开微信小程序-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:taskAffinity="cn.sharesdk.demo"
            android:launchMode="singleTask">
        </activity>

    </application>

</manifest>